/* Container */
.container {
  display: grid;
  grid-template-rows: auto auto 1fr;
  grid-template-columns: 1fr;
  gap: 20px;
  padding: 20px;
  max-width: 1200px;
  font-family: 'Courier New', Courier, monospace;
  margin: 0 auto;
}

/* Header */
.header {
  text-align: center;
  font-size: 2.5em;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
}

/* Tabs */
.tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  gap: 10px;
}

/* Button */
.button {
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  border: none;
  font-size: 1em;
  font-family: 'Courier New', Courier, monospace;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.3s;
}

.button:hover {
  transform: scale(1.05);
}

.button.active {
  background-color: #4CAF50;
  color: white;
}

.button.inactive {
  background-color: #f0f0f0;
  color: #333;
}

.button.green {
  background-color: #4CAF50;
  color: white;
}

.button.red {
  background-color: #f44336;
  color: white;
}

/* Preview Container */
.preview-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

/* Preview Item */
.preview-item {
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  padding: 15px;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  transition: transform 0.3s, box-shadow 0.3s;
}



/* Preview Item Button */
.preview-item .button {
  margin-top: 10px;
}

.preview-item p {
  margin-top: 10px;
  font-size: 1.1em;
  font-weight: bold;
  color: #555;
}

/* Randomize Button Container */
.randomize-button-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}